{% extends 'base.html' %} {% load static %} {% block content %}
<div style = 'display :flex; justify-content : space-evenly;'>
  <div>
    <div id="myBoard" style="width: 500px; margin: 0"></div>
    <label>Opening Name:</label>
    <div id="op"></div>
    <label>Status:</label>
    <div id="status"></div>
    <label>FEN:</label>
    <div id="fen"></div>
    <label>PGN:</label>
    <div
      id="pgn"
      class="block w-24 whitespace-normal break-words"
      style="word-wrap: break-word; width: 500px"
    ></div>
    <label>UCI:</label>
    <div
      id="uci"
      class="block w-24 whitespace-normal break-words"
      style="word-wrap: break-word; width: 500px"
    ></div>
    <button id="setresetBtn">Reset Position</button>
    <button id="whiteOrientationBtn">White orientation</button>
    <button id="blackOrientationBtn">Black orientation</button>
    <button id="undo">undo</button>
  </div>
  <div>
    <table id="chess-moves">
        <thead>
            <tr>
              <th>Next Move</th>
              <th>Cnt</th>
              <th>White Win Rate</th>
              <th>Draw Rate</th>
              <th>Black Win Rate</th>
            </tr>
        </thead>
        <tbody id="chess-moves-body">
        </tbody>
    </table>
  </div>
  <div>
    <table id="stockfish-moves">
        <thead>
            <tr>
              <th>Next Move</th>
              <th>CP</th>
              <th>MATE</th>
            </tr>
        </thead>
        <tbody id="stockfish-moves-body">
        </tbody>
    </table>
  </div>
</div>
{% endblock content %} {% block script %}
<script defer>
  // NOTE: this example uses the chess.js library:
  // https://github.com/jhlywa/chess.js

  // NOTE: this example uses the chess.js library:
  // https://github.com/jhlywa/chess.js

  var board = null;
  var game = new Chess();
  var whiteSquareGrey = "#a9a9a9";
  var blackSquareGrey = "#696969";
  var $status = $("#status");
  var $fen = $("#fen");
  var $pgn = $("#pgn");
  var $uci = $("#uci");
  var $undo = $("#undo");
  var $opening = $("#op");
  var $tableBody = $("#chess-moves-body");
  var $stockfishBody = $("#stockfish-moves-body");

  
  function removeGreySquares() {
    $("#myBoard .square-55d63").css("background", "");
  }

  function greySquare(square) {
    var $square = $("#myBoard .square-" + square);

    var background = whiteSquareGrey;
    if ($square.hasClass("black-3c85d")) {
      background = blackSquareGrey;
    }

    $square.css("background", background);
  }

  function onDragStart(source, piece) {
    console.log(source, piece)
    // do not pick up pieces if the game is over
    if (game.isGameOver()) return false;

    // or if it's not that side's turn
    if (
      (game.turn() === "w" && piece.search(/^b/) !== -1) ||
      (game.turn() === "b" && piece.search(/^w/) !== -1)
    ) {
      return false;
    }
  }

  function onDrop(source, target) {
    removeGreySquares();
    var nota = "";

    // see if the move is legal
    var move = game.move({
      from: source,
      to: target,
      // NOTE: always promote to a queen for example simplicity
    });
    nota = source + target;
    // illegal move
    if (move === null) {
      var move = game.move({
        from: source,
        to: target,
        promotion: "q", // NOTE: always promote to a queen for example simplicity
      });
      nota = source + target + "q";
    }
    if (move === null) return "snapback";

    var cur = $uci.html();
    if (cur) {
      $uci.html(cur + "," + nota);
    } else {
      $uci.html(nota);
    }

    updateStatus();
  }


  function onMouseoverSquare(square, piece) {
    // get list of possible moves for this square
    var moves = game.moves({
      square: square,
      verbose: true,
    });

    // exit if there are no moves available for this square
    if (moves.length === 0) return;

    // highlight the square they moused over
    greySquare(square);

    // highlight the possible squares for this piece
    for (var i = 0; i < moves.length; i++) {
      greySquare(moves[i].to);
    }
  }

  function onMouseoutSquare(square, piece) {
    removeGreySquares();
  }

  function onSnapEnd() {
    board.position(game.fen());
  }

  $undo.click(function(event){
    game.undo()
    const text = $uci.html()
    console.log(text)
    if (text){
      let array = text.split(',')
      array.pop()
      $uci.html(array.join())
    }
    getData()
    onSnapEnd()
    updateStatus()
  })

  function getData(){
    if (!$uci.html()) {
      $tableBody.empty()
      return
    }
    $.ajax({
      type: "GET",  
      url: "/chessapi/api/get_moveline?uci=" + $uci.html(),
      dataType: "json",
      error: function () {
        console.log("통신실패!!");
      },
      success: function (moves) {
        if (moves.msg){
          $tableBody.empty();
          $tableBody.append(moves.msg)
          return
        } 
        moves = JSON.parse(moves)
        console.log(moves)
        $tableBody.empty();
        for (var i = 0; i < moves.length; i++) {
              var move = moves[i];
              var row = document.createElement("tr");
              var blackWinRateCell = document.createElement("td");
              blackWinRateCell.textContent = (move.fields.black / (move.fields.black + move.fields.white + move.fields.draw)).toFixed(2);
              var cntCell = document.createElement("td");
              cntCell.textContent = move.fields.cnt;
              var drawRateCell = document.createElement("td");
              drawRateCell.textContent = (move.fields.draw / (move.fields.black + move.fields.white + move.fields.draw)).toFixed(2);
              var nextMoveCell = document.createElement("td");
              nextMoveCell.textContent = move.fields.next_move;
              nextMoveCell.addEventListener('click', function(event){
                let target = event.target;
                onDrop(target.textContent.slice(0,2), target.textContent.slice(2,4))
                onSnapEnd()
              })
              var whiteWinRateCell = document.createElement("td");
              whiteWinRateCell.textContent = (move.fields.white / (move.fields.black + move.fields.white + move.fields.draw)).toFixed(2);
              row.appendChild(nextMoveCell);
              row.appendChild(cntCell);
              row.appendChild(whiteWinRateCell);
              row.appendChild(drawRateCell);
              row.appendChild(blackWinRateCell);
              $tableBody.append(row);
          }
          $opening.html(moves.name);
      },
    });
  }
  function getStockFish(){
    if (!$uci.html()) {
      $stockfishBody.empty()
      return
    }
    $.ajax({
      type: "GET",  
      url: "/chessapi/api/stockfish?fen=" + $fen.html(),
      dataType: "json",
      error: function () {
        console.log("통신실패!!");
      },
      success: function (moves) {
        console.log(moves)
        $stockfishBody.empty()

         for (var i = 0; i < moves.length; i++){
          var move = moves[i]
          var newRow = $('<tr><td>'+ move.Move +'</td><td>'+ move.Centipawn +'</td><td>'+ move.Mate +'</td></tr>');
          newRow.click(function(event){
            let target = event.target;
            onDrop(target.textContent.slice(0,2), target.textContent.slice(2,4))
            onSnapEnd()})
          $stockfishBody.append(newRow)


         }
      },
    });
  }

  function getEval() {
    console.log($fen.html())
    $.ajax({
      type: "GET",  
      url: "/chessapi/api/eval_position?fen=" + $fen.html(),
      dataType: "json",
      error: function () {
        console.log("통신실패!!");
      },
      success: function (data) {
        console.log(data)

      },
    });
  }


  function updateStatus() {
    var status = "";

    var moveColor = "White";
    if (game.turn() === "b") {
      moveColor = "Black";
    }

    // checkmate?
    if (game.isCheckmate()) {
      status = "Game over, " + moveColor + " is in checkmate.";
    }

    // draw?
    else if (game.isDraw()) {
      status = "Game over, drawn position";
    }

    // game still on
    else {
      status = moveColor + " to move";

      // check?
      if (game.isCheck()) {
        status += ", " + moveColor + " is in check";
      }
    }

    $status.html(status);
    $fen.html(game.fen());
    $pgn.html(game.pgn());
    console.log(game.history())
    getEval()
    getData()
    getStockFish()
  }

  var config = {
    draggable: true,
    position: "start",
    onDragStart: onDragStart,
    onDrop: onDrop,
    onMouseoutSquare: onMouseoutSquare,
    onMouseoverSquare: onMouseoverSquare,
    onSnapEnd: onSnapEnd,
  };
  board = Chessboard("myBoard", config);

  $("#setresetBtn").on("click", function () {
    board.start()
    game.reset();
    $pgn.empty();
    $uci.empty();
    updateStatus();
  });

  $("#whiteOrientationBtn").on("click", function () {
    board.orientation("white");
  });

  $("#blackOrientationBtn").on("click", function () {
    board.orientation("black");
  });
  updateStatus();
</script>
{% endblock script %}
